/* Write your CSS here */
.container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.container1{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.light-mode{
    background-color: white;
    color:black
}
.dark-mode{
    background-color: black;
    color:white
}
.button{
    background-color: white;
    border-radius: 5px;
    padding: 10px;


}